<launch>
    <param name="use_cpu" value="false" />

    <node name="yolov8_ros" pkg="yolov8_ros" type="yolo_v8.py" output="screen">
        <param name="weight_path" value="/home/airhust/Downloads/epoch130.pt" />

        <param name="image_topic" value="/yolo/input_image" />
        <param name="pub_topic" value="/yolov8/BoundingBoxes" />
        <param name="camera_frame" value="usb_cam" />
        <param name="visualize" value="false" />
        <param name="conf" value="0.5" />
    </node>

    <node name="yolo_processor" pkg="raicom_mission" type="yolo_processor_node" output="screen" />
</launch>
